DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
REDIS_URL=redis://localhost:6380

JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION_DAYS=30

PORT=3000
NODE_ENV=development
